*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(45deg, #323232, #33383d, #354047, #354651, #3d4e5a) no-repeat center center;
    min-height: 110vh;
    padding-bottom: 150px;
}
.monthYear{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}
form{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.moneyType{
    display: flex;
    width: 25%;
    margin: auto;
    justify-content: space-around;
}
.income, .expense{
    margin: auto;
    height: 2rem;
    text-align: center;
    border: none;
    border-radius: 7.5px;
    font-size: 18px;
    color: #302f2f;
    cursor: pointer;
    width: 45%;
}
@media screen and (max-width: 1024px){
    .moneyType, label, .transactionInput{
        width: 50%;
    }
    #amount, #transaction, #submit, .historyUl, .historyTitle, label{
        min-width: 50%;
    }
    .history{
        width: 100%;
    }
    .historyTitle, hr{
        text-align: center;
        margin: auto;
    }
    .incomeExpense{
        min-width: 50%;
    }
    .chart{
        min-width: 70%;
    }
}
@media screen and (max-width: 700px){
    .moneyType, label, .transactionInput{
        width: 70%;
    }
    #amount, #transaction, #submit, .historyUl, .historyTitle, label{
        min-width: 70%;
    }
    .history{
        width: 100%;
    }
    .historyTitle{
        text-align: center;
        margin: auto;
    }
    hr{
        min-width: 60%;
    }
    .chart{
        min-width: 90%;
    }
    .incomeExpense{
        min-width: 70%;
    }
}
.income{
    background-color: rgba(0, 199, 132);
}
.expense{
    background-color: rgba(255, 99, 132);
}
.income:hover, .expense:hover{
    text-decoration: underline;
    color: #eeeeee;
}
.income:hover{
    background-color: rgba(0, 199, 132, .6);
}
.moneyType input:checked{
    border: white 5px solid;
}
.expense:hover{
    background-color: rgba(255, 99, 132, .6);
}
.transactionInput, label{
    text-align: left;
    width: 25%;
    font-family: 'Lato', sans-serif;
}
.transactionInput{
    height: 2.5rem;
    border: none;
    padding: 5px;
    font-size: 18px;
}
.transactionInput::placeholder{
    color: rgb(152, 160, 160);
}
label{
    height: 3rem;
    vertical-align: middle;
    line-height: 3rem;
    color: #e9e5e5;
    font-size: 20px;
}
#submit{
    margin-top: 1.5rem;
    text-align: center;
    background: #6c808f;
    color: #2e2e2e;
}
#submit:hover{
    border: 1px solid #ffffff;
    cursor: pointer;
}
.history{
    width: 100%;
    margin: auto;
    text-align: center;
    line-height: 10vh;
    vertical-align: middle;
    font-size: 24px;
    font-family: 'lato', sans-serif;
    color: #dcdcdc;
    margin-bottom: 1rem;
}
hr{
    color: #ffffff;
    width: 25%;
    margin: auto;
    position: relative;
    bottom: 15px;
}
.historyUl{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: auto;
    background-color: #ffffff;
    list-style: none;
    height: 7.5vh;
    margin-bottom: 1rem;
}
.historyLabel{
    flex: 2;
    text-align: left;
    padding: 0 10px;
    color: #000000;
    text-transform: capitalize;
}
.historyAmt{
    flex: 1;
    text-align: right;
    padding: 0 10px;
    color: #000000;
}
.incomeExpense{
    width: 25%;
    margin: auto;
    display: flex;
    background-color: red;
    height: 2rem;
    line-height: 2rem;
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-top: 5vh;
    cursor: default;
}
.incomeAmount, .expenseAmount{
    flex: 1;
    max-width: 50%;
    text-align: center;
}
.incomeAmount{
    background-color: rgba(0, 199, 132, .8);
}
.expenseAmount{
    background-color: rgb(255, 99, 132, .8);
}
.chart{
    display: none;
    width: 40%;
    min-height: 20vh;
    display: block;
    margin: auto;
    margin-top: 5rem;
    /* transform: rotateX(-50%); */
}
.green{
    border-right: 5px solid rgb(0, 199, 132);
}
.red{
    border-right: 5px solid rgb(255, 99, 132);
}